API_PORT=4000
WEB_PORT=5173
DEMO_MODE=true
SOMNIA_NETWORK=shannon
SOMNIA_INDEXER_URL=https://prd.smk.somnia.host/v1/graphql
SOMNIA_WS_RPC_URL=wss://api.infra.testnet.somnia.network/ws
SOMNIA_PRIVATE_KEY=
